.navbar {
    padding-left: 2vmin;
    padding-right: 2vmin;
    position: sticky;
    justify-content: center;
}

.navbar-brand{
    font-size: 5vmin;
}

.nav-item{
    display: flex;
    font-size: 2.3vmin;
    color: white;
}

.searchBar{
    float: right;
}